# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Natalia\Documents\Universidad\MASTER\Ingenieria Web\IMVG\Practica\devOps\devOps-artefacto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
